
#mylg-graphic {
  width: 1000px; /* or any width you prefer */
  height: auto; /* maintain the aspect ratio */
}


.mylg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* or any specific height you want */

  background-color:var(--text-color-3);
}

.about-container {
padding-top: 100px;
  margin: 20px auto; /* Center the section horizontally */
  width: 1920px;
  max-width: 100%; /* Ensure it doesn't overflow on smaller screens */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services {
  border-radius: 40px;
  border: 2px solid var(--text-color);
  padding: 20px;
  line-height: 0.9em;
}
#random-quote-container {
  padding-bottom: 0px;
}

#about-section,
#services-title-section {
  padding-bottom: 25px;
}

.flex-row {
  padding-top: 50px;
  max-width: 1920px;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1.5rem auto;
}

.flex-col {
  flex: 1;
  
}



.t_border {
  width: 100%;
  border-top: 2px solid #e0e0e0;
}

.subheading {
  padding: 50px 10px;
}


.services-title {
  padding: 20px;
}
.data-class.about-us {
  padding: 20px;
}

.about {
  max-width: 400px;
  line-height: 0.8;
  font-size: min(10rem, 8vw);
  

}

.about-us{
  line-height: 0.9;
  font-size: min(2.5rem, 5vw);
  max-width: 400px;
}


#random-quote {
  
  line-height: 0.8;
  font-size: min(10rem, 8vw);
  color: var(--text-color-3);
}

.about,
.services-title {
  border-radius: 40px;

  margin: 20px;
  padding: 20px;
  line-height: 0.9em;
  display: inline-block;
}




.card-container {
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Change to center to center the cards */
  margin: 0 auto; /* Center the container */
}


.card {
  background-color: #0d0d0d;
  
  flex: 0 0 48%; 
  padding: min(25px, 5vw) min(20px, 2.5vw); 
  margin: 20px 10px;
  color: white;
  border-radius: min(50px, 5vw);
  background-color: transparent;
  border: 2px solid white;
  
}



.card:hover {
  transform: translateY(-10px); 
}
.card-row {
  display: flex;
  align-items: center; /* Vertically center the content */
}
.circle {
  font-family: "Oswald", sans-serif;
  font-size: min(6rem, 3vw);
  width: 100px; /* Define the width */
  height: 0px; /* Define the height, equal to width for a perfect circle */
  
  background-color: transparent;
  align-content: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  
}
 .card-title {
  
  font-size: min(6rem, 3vw);
  line-height: 0.8;
 }
 .card-description {
  font-size: min(2.5rem, 2vw);
  line-height: 1.5;
 }


.dotted-hr {
  border: none;
  border-top: min(0.3rem, 0.5vw) dotted #e0e0e0;
  margin: 16px 0;
}

.right-column {
  margin-top: 150px; /* Adjust this value based on how much you want to move it down */
}
@media (max-width: 768px) {
  .card {
    flex: 0 0 100%; 
     /* Make cards take full width on smaller screens */
  }

  .dotted-hr {
    border: none;
    border-top: 2px dotted #e0e0e0;
    margin: 16px 0;
  }

  .card-description {
    max-width: ;
    font-size: min(2.5rem, 2vw);
    line-height: 1.5;
   }
  
}
