



.blog-content-wrapper {
  -ms-overflow-style: none; /* Hide scrollbar for IE, Edge and Firefox */
}

.blog-content-wrapper {
  position: relative;
}

.blog-content-wrapper {
  max-height: calc(
    100vh - 60px
  ); /* 60px is the height of your arrow, adjust if different */
  overflow-y: auto;
}

.arrow-container {
  position: absolute;
  top: 50%; /* center vertically */
  transform: translateY(-50%); /* adjust for the height of the arrow */
}
.arrow-container.left {
  left: calc((100% - 1200px) / 2 - 60px);
}

.arrow-container.right {
  right: calc((100% - 1200px) / 2 - 60px);
}

.arrow-container img {
  width: 60px;
  height: 60px;
  filter: invert(1);
}




