

.blog-container{

  background-color: var(--bg-color);
  padding: min(25px, 2.5vw) min(5px, 1vw) 0;
  margin-bottom: min(100px, 10vw);
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  
  width: 100%;
}

.blog-element {
  display: inline-block;
  margin-right: 1rem;
  font-size: 3rem;
  margin-bottom: 0 px;
  font-weight: 900;
  line-height: 0.5;
  padding: 30px 15px;
}



.works-footer-title {
  color: #FA3356;
  font-size: min(12rem, 18vw);
  letter-spacing: -0.05em;
  line-height: 0.9em;
  padding: 35px 10px 0px;
  text-align: left;
}

.works-titles {
  padding-top: 50px;
  padding-bottom: 50px;
}


.blog-title-container {
  margin-bottom: min(1px, 0.1vw);
  margin-right: min(5px, 0.5vw);
  padding: 0 10px;
  white-space: nowrap;
  border: 1px solid;
  border-radius: 40px;
  display: inline-block;
  align-items: center;
  overflow: hidden;
}

.blog-title-container a,
.blog-title-container a:visited {
  color: var(--text-color);
}

.blog-title-container a:hover {
  color: #FA3356;
}

.blog-title-container a:active {
  color: white;
  transform: scale(1.2);
}







.blog-section {
  padding-top: 20px;
  margin: 20px auto; /* Center the section horizontally */
  width: 1920px;
  max-width: 100%; /* Ensure it doesn't overflow on smaller screens */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.single-card-row {
  justify-content: center;
}

.single-card.tcs .title,
.single-card.nocco .title {
    color: black;
}

.single-card.tcs .subtitle,
.single-card.nocco .subtitle {
    color: grey;
}

.single-card.tcs .description,
.single-card.nocco .description {
    color: black;
    
    border: 2px solid black;
    border-radius: 50px;
    margin: 0;
   
    
}






@media only screen and (max-width: 767px) {
  .blog-element {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 10px;
    padding: 20px 5px 10px 15px;
  }



}