
.blog-title-container {
  margin: 5px;
  white-space: nowrap;
  border: 1px solid;
  border-radius: 40px;
  display: inline-block;
  align-items: center;
}

.blog-title-container a,
.blog-title-container a:visited {
  color: var(--text-color);
}

.blog-title-container a:hover {
  color: #FA3356;
}

.blog-title-container a:active {
  color: white;
  transform: scale(1.2);
}


.blog-element {
  display: inline-block;
  margin-right: 1rem;
  font-size: 4rem;
  margin-bottom: 10px;
  font-weight: 900;
  line-height: 0.7;
}

.works-titles {
  padding-top: 50px;
  padding-bottom: 200px;
}

#works-title {
  color: #FA3356;
}
