/* Left side navigation*/


.sidebar-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 30%; 
  padding-bottom: 20px;
height: 100vh;
}

.sidebar-right {
  display: flex; 
  flex-wrap: wrap; 
  grid-gap: 10px;
  margin-top: 75px;
  padding: 10px;
  flex: 1 0 70%;
}

.sidebar-right.full-width {
  width: 100%;
  display: block; 
  flex: 1;
  overflow-y: auto;
}



.project-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

.project-thumbnail {
  
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.project-title {
  margin-top: 10px; 
  font-size: 20px; 
  font-weight: bold; 
}



.sidebar-heading {
    font-size: 20px; 
    margin-bottom: 20px;
  }
  

  #wrapper {
    display: flex;
    flex-direction: row; 
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    
  }
  

  .message-center {
    margin-top: auto; 
   
  }

  #accordionSidebar {
    width: 30%; 
    max-width: 384px; 
    padding-top: 150px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 25px;
    flex-grow: 0;
    overflow-y: auto;
    border-right: 1px solid #d1d3e2;
    padding-right: 1rem;
    min-height: 100vh;
  }
  
 
.nav-item {
    margin-bottom: 10px; 
  }
 
  .nav-link span {
    font-size: 15px;
    padding: 8px 16px; 
  }
  
  .nav-link:hover {
    cursor: pointer;
   
  }
  .collapse-item:hover {
    cursor: pointer; 
    color: #FA3356; 
  }

  .nav-item-dashboard:hover,
  .nav-item-dashboard:hover img {
    cursor: pointer;
    color: #fa3356; /* Use the desired color for hover state */
  }
  .nav-item-dashboard:hover .custom-icon path {
    fill: #fa3356; /* New color for SVG paths on hover */
  }
  
  
  .collapse-item.active {
    background-color: red; 
    color: white; 
  }
  .timeline-container {
    margin: 5px;


  }


.project-header {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: min(25px, 1.5vw) 25px 0;
  margin-bottom: 25px;

}

.new-project-header {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: min(50px, 3vw) 25px 0;
  margin-bottom: 100px;

}

.welcome-screen-header {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding: min(50px, 3vw) 20px 0;
  margin-bottom: 100px;

}

.welcome-greeting-title {
  font-size: min(3rem, 4vw);

}

.welcome-greeting-line {
  font-size: min(2rem, 3vw);

}




.project-header h2 {
  line-height: 0.8;
  font-size: min(4rem, 6vw);
  white-space: nowrap;

}

.new-project-header h2 {
  line-height: 0.8;
  font-size: min(4rem, 6vw);
  white-space: nowrap;

}

 /* Title & Status */



 .project-status {
  font-size: 100px;
}

.project-status, .project-title {
  font-family: HelveticaNowDisplay-Regular, 'Helvetica Special';
}

.project-status, .initial-ellipse {
  fill: #fff;
}

.project-title {
  fill: #f4f4f4;
  font-size: 20px;
}

.completion {
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 20px;
  fill: none;
}


.initial {
  font-size: 200px;
}



 /* Dashboard styles */




.dashboard-layout {
  display: flex;
 
  
}
.dashboard-item {
  border: 2px solid white ;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  
}

.dashboard-item span {
  display: block;
}


.dashboard-item.budget
 {
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start; 
  
}
.dashboard-item.budget span {
  margin: 10px 0;
  font-size: min(2rem, 3vw);
  
}

.dashboard-item.budget span:nth-child(2) {
  font-size: min(4rem, 6vw);
  font-weight: bold;
 
 
}

.dashboard-item.budget span:last-child{
  font-size: min(2rem, 3vw);
  color: #FA3356;
}




.dashboard-item.uploads span,
.dashboard-item.downloads span,
.dashboard-item.floorplan span,
.dashboard-item.links span{
  margin: 10px 0;
  font-size: min(2rem, 3vw);
}

.dashboard-item.view-gallery span,
.dashboard-item.view-invoices span,
.dashboard-item.finish-line span{
  margin: 10px 0;
  font-size: min(3rem, 4vw);
}


.dashboard-item.view-invoices {
  display: flex;
  flex-direction: column;
  
  
  
}



.dashboard-item.view-invoices .top-row {
  width: 100%; 
  display: flex;
  justify-content: space-between; 
}



.dashboard-item.view-invoices .bottom-row span {
  
  font-size: min(2rem, 3vw);
  color: #FA3356;
}



.view-gallery, .view-invoices {
  grid-column: span 2; 
}

.column-1, .column-6 {
  flex: .3; 
}

.column-1, .column-2, .column-5 , .column-6  {
  height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}



.column-2, .column-5 {
  flex: .7; 
}

.column-3, .column-4 {
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.column-3 {
  flex: .5; 
}

.column-4 {
  flex: .5; 
}

.column-5, .column-6 {
  height: 384px;
  

}

.column-7 {
  height: 384px;
}



.budget, .uploads, .downloads, .floorplan, .links{
  align-items: flex-start; 
  flex: 1;
}

.view-gallery, .view-invoices {
  align-items: flex-start; 
  flex: 2; 
}

.collapse-item {
  display: block;
  margin-bottom: 10px;
  transition: margin 0.3s ease-in-out; 
}





  /* Timeline */



  .status {
    fill: #fa3356;
  }
  .status-incomplete {

    fill: grey;

  } 

  .status, .percentage {
    font-family: HelveticaNowDisplay-Regular, 'Helvetica special';
  }

  .status, .percentage {
    font-size: 25.91px;
  }

  .bubbles {
    fill: #fff;
  }

  .bubbles-incomplete {

    fill: grey;

  } 

  .milestones {
    fill: #f4f4f4;
    font-size: 50px;
  }

  .percentage {
    fill: #1d1a1a;
  }

  .percentage-incomplete {

    fill: darkgray;

  } 

  .contour {
    fill: #0c0c0c;
    stroke: #f4f4f4;
    stroke-width: 2px;
  }


  .dashboard-item.project-team,
  .dashboard-item.finish-line {

    display: flex;
    flex-direction: column;
    flex: 2; 
  }

  .dashboard-item.dashboard-item.finish-line span:last-child {
    font-size: min(2.5rem, 3vw);
    color: #FA3356;
  }


  .project-team-title {
    font-size: 2.5rem; 
    
  }
  
.team-members-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px; 
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  padding: 10px;
  border-radius: 5px;
}

.team-member-thumbnail {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  margin-bottom: 10px;
}

.team-member-info {
  text-align: center;
  font-size: min(2.5rem, 3vw);
}



.team-member-role {
  font-size: min(1.2rem, 1.5vw);
  color: #808080;
}


.dashboard-item.notes span{
  margin: 10px 0;
  font-size: min(2rem, 3vw);
  height: 256px;
}



.dashboard-layout .dashboard-item.location {
  
  margin: 5px;
  
  height: 100%; 
  padding: 0;
  overflow: hidden;
  border-radius: 20px; 
}

#map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.info.legend {
  padding: 6px 8px;
  background: rgba(0, 0, 0, 0.8);
  
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-size: min(1.2rem, 1.5vw);
  color: #fff;
}
.info.legend h4 {
  margin: 0 0 5px;
  color: #fff;
}




 /* New Project */






 
.new-project-col1{
  height: 576px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.new-project-col1{
  flex: .3; 
}





.dashboard-item.greetings span,
.dashboard-item.new-project span
{
  margin: 10px 0;
  font-size: min(2rem, 3vw);
  
}


.dashboard-item.greetings {
  display: flex; 
  align-items: center; 
  
}

.dashboard-item.greetings .greetings-text {
  flex: 0 0 70%; 
  display: flex;
  flex-direction: column; 
}



.dashboard-item.greetings .greeting-line {
  margin: 5px 0;
  font-size: min(2rem, 3vw);
}

.dashboard-item.greetings .greeting-line:nth-child(1) {
  display: flex; 
  align-items: center;
  font-size: min(3rem, 4vw);
}
.dashboard-item.greetings .greeting-line:nth-child(1) .username {
  font-size: min(3rem, 4vw);
  color: #FA3356; 
  margin-left: 5px; 
  margin-right: 5px; 
}

 .welcome-greeting-title:nth-child(1) .username {
  font-size: min(3rem, 4vw);
  color: #FA3356; 
  margin-left: 5px; 
  margin-right: 5px; 
}


.dashboard-item.greetings .greeting-line:nth-child(3) {
  margin-bottom: 0;
}

.dashboard-item.greetings .greeting-line:last-child {
  margin-bottom: 20px; 

}



.dashboard-item.greetings .snap-container {
  width: 100px; 
  height: 100px; 
  
  display: flex; 
  align-items: center; 
  justify-content: center; 
}


.dashboard-item.project-name{
  height: 256px;
  align-items: flex-start; 

}

.dashboard-item.project-name span{
  margin: 10px 0;
  font-size: min(2rem, 3vw);
  
}

.dashboard-item.new-project-budget span,
.dashboard-item.new-project-finish-line span,
.dashboard-item.new-project-floor-plan span,
.dashboard-item.new-project-uploads span
{
  margin: 10px 0;
  font-size: min(2rem, 3vw);
}

.new-project-budget,
.new-project-finish-line,
.new-project-floor-plan,
.new-project-uploads
{
  align-items: flex-start; 
  flex: 1;
}



.new-project-col2{
  height: 576px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}



.new-project-col2{
  flex: .7; 
}








  


   @media (max-width: 768px) {
    .custom-icon {
      width: 25px;
      height: 25px;
      margin-right: 5px;
    }
    .sidebar-heading {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      flex-direction: column; 
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav-link .icon-with-padding {
    margin-bottom: 5px; 
  }

  .nav-link span {
    display: block; 
  }
  
  }