.dashboard-layout {
  background-color: var(--bg-color);
  /* padding: min(20px, 2vw) 0; */
  margin-bottom: min(100px, 10vw);
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.dashboard-row{
  margin: 10px 0;
 

}

.collapse-item {
  display: block;
  margin-bottom: 10px;
  transition: margin 0.3s ease-in-out; 
}


.sidebar-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 30%; 
  padding-bottom: 20px;
height: 100vh;
}

.sidebar-right {
  display: flex; 
  flex-wrap: wrap; 
  grid-gap: 10px;
  margin-top: 100px;
  padding: 10px;
  flex: 1 0 70%;
}


.project-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally within the container */
  text-align: center;
}

.project-thumbnail {
  /* Your existing styles for the thumbnail */
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.project-title {
  margin-top: 10px; 
  font-size: 20px; 
  font-weight: bold; 
}


.sidebar-heading {
    font-size: 20px; 
    margin-bottom: 20px;
  }
  

  #wrapper {
    display: flex;
    flex-direction: row; 
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    padding-bottom: 50px;
  }
  

  .message-center {
    margin-top: auto; 
   
  }

  #accordionSidebar {
    width: 30%; 
    max-width: 384px; 
    padding-top: 150px;
    padding-right: 20px;
    padding-left: 20px;
    flex-grow: 1;
    overflow-y: auto;
    border-right: 1px solid #d1d3e2;
    padding-right: 1rem;
  }
  
 
.nav-item {
    margin-bottom: 10px; 
  }
 
  .nav-link span {
    font-size: 15px;
    padding: 8px 16px; 
  }
  
  .nav-link:hover {
    cursor: pointer;
   
  }

  /* .icon-with-padding {
    padding: 8px; 
  
  }
   */

   @media (max-width: 768px) {
    .custom-icon {
      width: 25px;
      height: 25px;
      margin-right: 5px;
    }
    .sidebar-heading {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      flex-direction: column; /* Stack items vertically */
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav-link .icon-with-padding {
    margin-bottom: 5px; /* Add space between icon and title */
  }

  .nav-link span {
    display: block; /* Ensure the title spans the full width */
  }
  
  }