/* Left side navigation*/


.sidebar-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 30%;
  padding-bottom: 20px;
  height: 100vh;
}

.sidebar-right {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  margin-top: 25px;
  padding: 10px;
  flex: 1 0 70%;
}

.sidebar-right.full-width {
  width: 100%;
  display: block;
  flex: 1;
  overflow-y: auto;
}

.all-projects-container {

  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  margin-top: 75px;
  overflow-y: auto;
  flex-grow: 1;
  overflow-y: auto;
  height: 100vh;


}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-thumbnail {

  cursor: pointer;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.project-title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

svg .project-title {
  margin-top: 10px;
  font-size: 50px;
  font-weight: bold;
}


.sidebar-heading {
  font-size: 20px;
  margin-bottom: 20px;
}


#wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;

}

#accordionSidebar {
  width: 30%;
  max-width: 384px;
  padding-top: 150px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 25px;
  overflow-y: hidden;
  border-right: 1px solid #d1d3e2;
  padding-right: 1rem;
  height: 100vh;
  box-sizing: border-box;
}



.message-center {
  margin-top: auto;

}



.nav-item {
  margin-bottom: 10px;
}

.nav-link span {
  font-size: 15px;
  padding: 8px 16px;
}

.nav-link:hover {
  cursor: pointer;

}

.collapse-item:hover {
  cursor: pointer;
  color: #FA3356;
}

.nav-item-dashboard:hover,
.nav-item-dashboard:hover img {
  cursor: pointer;
  color: #fa3356;
  
}

.nav-item-dashboard:hover .custom-icon path {
  fill: #fa3356;
  /* New color for SVG paths on hover */
}


.collapse-item.active {
  background-color: red;
  color: white;
}



.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.modal-label {
  font-size: 20px;
  padding-bottom: 25px;
}

.modal-input {
  margin-bottom: 20px;
  width: 80%;
  padding: 10px;
}

.modal-input-description {
  color: white;           
  background-color: rgb(17, 17, 17); 
  font-size: 16px;      
  padding: 10px;          
  border-radius: 5px;     
  border: 1px solid #ccc; 
  width:80%;
  height: 60%;
}


.modal-button {
  border: solid 2px white;
  color: white;
  background-color: black;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: auto;
  font-size: 16px;
}

.clear-files-button{
  border: solid 2px white;
  color: white;
  background-color: black;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: auto;
  font-size: 16px;
}

.modal-submit-button {
  border: solid 2px white;
  color: #FA3356;
  background-color: black;
  border-radius: 20px;
  padding: 10px 40px;
  margin-top: auto;
  font-size: 16px;
}



.file-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.file-upload-btn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: solid 2px white;
  border-radius: 20px;
  cursor: pointer;
  /* Add more styles as needed */
}

.selected-files {
  height: 160px;
  overflow-y: auto;
  margin-top: 35px;

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ccc;
  font-size: 14px;
  text-align: center;
  width: 95%;
  box-sizing: border-box;
}

.single-project-selected-files{
  height: 160px;
  overflow-y: auto;
  margin-top: 35px;

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ccc;
  font-size: 14px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}


.address-input-container {

  padding: 5px;
}


.address-input {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
}

.address-button{
  border: solid 2px white;
  color: white;
  background-color: #0d0d0d;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: auto;
  font-size: 16px;
  width: 100%;

}

.address-button:hover{

  /* color: #FA3356; */
  background-color: #1b1b1b;
  
}




.timeline-container {
  margin: 5px;


}


.project-header {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Vertically center */
  text-align: center;
  width: 100%;
  padding: min(75px, 4vw) 25px 0;
  margin-bottom: 25px;

}

.new-project-header {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: min(50px, 3vw) 25px 0;
  margin-bottom: 100px;

}

.welcome-screen-header {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding: min(50px, 3vw) 20px 0;
  margin-bottom: 100px;

}

.welcome-greeting-title {
  font-size: min(3rem, 4vw);

}

.welcome-greeting-line {
  font-size: min(2rem, 3vw);

}




.project-header h2 {
  max-width: 300px;
  line-height: 0.8;
  font-size: min(5rem, 6vw);


}

.new-project-header h2 {
  line-height: 0.8;
  font-size: min(4rem, 6vw);
  white-space: nowrap;

}

/* Title & Status */



.project-status {
  font-size: 100px;
}

.project-status,
.project-title {
  font-family: HelveticaNowDisplay-Regular, 'Helvetica Special';
}

.project-status,
.initial-ellipse {
  fill: #fff;
}

.project-title {
  fill: #f4f4f4;
  font-size: 20px;
}

.completion {
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 20px;
  fill: none;
}


.initial {
  font-size: 200px;
}



/* Dashboard styles */




.dashboard-layout {
  display: flex;


}


.active-project-details {
  padding-top: 150px;
  width: 100%;
}


.project-header {
  padding: 10px;
  margin-bottom: 0;


}




.dashboard-item {
  border: 2px solid white;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;

}

.dashboard-item span {
  display: block;
}


.dashboard-item.budget {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

}

.dashboard-item.budget span {
  margin: 10px 0;
  font-size: min(2rem, 3vw);

}

.dashboard-item.budget span:nth-child(2) {
  font-size: min(4rem, 6vw);
  font-weight: bold;


}

.dashboard-item.budget span:last-child {
  font-size: min(2rem, 3vw);
  color: #FA3356;
}




.dashboard-item.uploads span,
.dashboard-item.downloads span,
.dashboard-item.floorplan span,
.dashboard-item.links span {
  margin: 10px 0;
  font-size: min(2rem, 3vw);
}



.uploads-list {
  height: calc(100% - 20px); /* Adjust height based on the title's height */
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px; /* Space between file names */
  padding: 10px; /* Padding inside the container */
}

.upload-file-name {
  white-space: nowrap; /* Prevents the names from breaking */
  border-radius: 5px; /* Optional styling */
}



.dashboard-item.view-gallery span,
.dashboard-item.view-invoices span,
.dashboard-item.finish-line span {
  margin: 10px 0;
  font-size: min(3rem, 4vw);
}


.dashboard-item.view-invoices {
  display: flex;
  flex-direction: column;



}



.dashboard-item.view-invoices .top-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}



.dashboard-item.view-invoices .bottom-row span {

  font-size: min(2rem, 3vw);
  color: #FA3356;
}



.view-gallery,
.view-invoices {
  grid-column: span 2;
}

.column-1,
.column-6 {
  flex: .3;
}

.column-1,
.column-2,
.column-5,
.column-6 {
  height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.column-new-project-address{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: .7;
}
.column-new-project-description{
 max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: .5;

}



.after-input-description{

  margin: 5px;
}



.column-2,
.column-5 {
  flex: .7;
}

.column-3,
.column-4 {
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.column-3 {
  flex: .5;
}

.column-4 {
  flex: .5;
}

.column-5,
.column-6 {
  height: 384px;


}

.column-7 {
  height: 384px;
}



.budget,
.uploads,
.downloads,
.floorplan,
.links {
  align-items: flex-start;
  flex: 1;
}

.view-gallery,
.view-invoices {
  align-items: flex-start;
  flex: 2;
}

.collapse-item {
  display: block;
  margin-bottom: 10px;
  transition: margin 0.3s ease-in-out;
}





/* Timeline */



.status {
  fill: #fa3356;
}

.status-incomplete {

  fill: grey;

}

.status,
.percentage {
  font-family: HelveticaNowDisplay-Regular, 'Helvetica special';
}

.status,
.percentage {
  font-size: 25.91px;
}

.bubbles {
  fill: #fff;
}

.bubbles-incomplete {

  fill: grey;

}

.milestones {
  fill: #f4f4f4;
  font-size: 50px;
}

.percentage {
  fill: #1d1a1a;
}

.percentage-incomplete {

  fill: darkgray;

}

.contour {
  fill: #0c0c0c;
  stroke: #f4f4f4;
  stroke-width: 2px;
}


.dashboard-item.project-team,
.dashboard-item.finish-line {

  display: flex;
  flex-direction: column;
  flex: 2;
}

.dashboard-item.dashboard-item.finish-line span:last-child {
  font-size: min(2.5rem, 3vw);
  color: #FA3356;
}


.project-team-title {
  font-size: 2.5rem;

}

.team-members-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
  border-radius: 5px;
}

.team-member-thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-member-info {
  text-align: center;
  font-size: min(2.5rem, 3vw);
}



.team-member-role {
  font-size: min(1.2rem, 1.5vw);
  color: #808080;
}


.dashboard-item.notes span {
  margin: 10px 0;
  font-size: min(2rem, 3vw);
  padding-bottom: 256px;
}



.dashboard-layout .dashboard-item.location {

  
  height: 400px;

  padding: 0;
  overflow: hidden;
  border-radius: 20px;
}

#map {

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.info.legend {
  padding: 6px 8px;
  background: rgba(0, 0, 0, 0.8);

  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-size: min(1.2rem, 1.5vw);
  color: #fff;
}

.info.legend h4 {
  margin: 0 0 5px;
  color: #fff;
}




/* New Project */







.new-project-col1 {
  height: 576px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.new-project-col1 {
  flex: .3;
}





.dashboard-item.greetings span,
.dashboard-item.new-project span {
  margin: 10px 0;
  font-size: min(2rem, 3vw);

}


.dashboard-item.greetings {
  display: flex;
  align-items: center;

}

.dashboard-item.greetings .greetings-text {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
}



.dashboard-item.greetings .greeting-line {
  margin: 5px 0;
  font-size: min(2rem, 3vw);
}

.dashboard-item.greetings .greeting-line:nth-child(1) {
  display: flex;
  align-items: center;
  font-size: min(3rem, 4vw);
}

.dashboard-item.greetings .greeting-line:nth-child(1) .username {
  font-size: min(3rem, 4vw);
  color: #FA3356;
  margin-left: 5px;
  margin-right: 5px;
}

.welcome-greeting-title:nth-child(1) .username {
  font-size: min(3rem, 4vw);
  color: #FA3356;
  margin-left: 5px;
  margin-right: 5px;
}


.dashboard-item.greetings .greeting-line:nth-child(3) {
  margin-bottom: 0;
}

.dashboard-item.greetings .greeting-line:last-child {
  margin-bottom: 20px;

}



.dashboard-item.greetings .snap-container {
  width: 100px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.dashboard-item.project-name {

  align-items: flex-start;

}

.dashboard-item.greetings:hover {
  background-color: #0c0c0c;
  cursor: auto;

}

.dashboard-item:hover {

  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;

}


.dashboard-item.project-name span {
  padding: 20px 0px;
  margin: 10px 0;
  font-size: min(2rem, 3vw);

}

.dashboard-item.new-project-budget span,
.dashboard-item.new-project-finish-line span,
.dashboard-item.new-project-description span,
.dashboard-item.new-project-uploads span {
  margin: 10px 0;
  font-size: min(2rem, 3vw);
}

.new-project-budget,
.new-project-finish-line,
.new-project-description,
.new-project-uploads {
  align-items: flex-start;
  flex: 1;
}

.new-project-description{
  max-height: 500px; /* Adjust the height as needed */
  overflow-y: auto; 

}



.new-project-col2 {
  height: 576px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}



.new-project-col2 {
  flex: .7;
}


.column-final-btn{

  

  


}
.final-btn-container {
  background: #FA3356;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  /* Adjust padding as needed */
}

.final-submit-button {
  border: none;
  border-radius: 20px;
  color: white;
  background-color: transparent; 
  padding: 20px 50px;
  font-size: min(2rem, 3vw);
  width: 100%; 
  height: 100%; 
  cursor: pointer; 
}

.final-btn-container-success {
  background: #4bb71b; /* Green background */
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}


.final-submit-button:hover {
  background-color: rgba(255, 255, 255, 0.07); 
}


.success-animation { margin:15px auto;}

.checkmark {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: white;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4bb71b;
 
  position:relative;
  
  
 margin: 0 auto;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: white;
  
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;

}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
      stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
      transform: none;
  }

  50% {
      transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
      box-shadow: inset 0px 0px 0px 30px #4bb71b;
  }
}



@media (max-width: 768px) {
  .custom-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }

  .sidebar-heading {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav-link .icon-with-padding {
    margin-bottom: 5px;
  }

  .nav-link span {
    display: block;
  }

  .dashboard-layout {
    flex-direction: column;
  }

  .sidebar-right {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    margin-top: 20px;
    padding: 2px;
    flex: 1 0 70%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;


  }

  .project-container {
    width: 100%;
    /* Adjust the width of project containers to 100% on phones */
  }

  .sidebar-right.full-width::-webkit-scrollbar {
    display: none;

  }

  .sidebar-right.full-width {
    width: 100%;
    display: block;
    flex: 1;
    overflow-y: auto;
    margin-top: 50px;
    scrollbar-width: none;
    -ms-overflow-style: none;

  }

  .dashboard-item {
    transition: background-color 0.2s ease;
    margin: 2.5px;
  }




  .page-top {

    overflow: hidden;

  }

  #wrapper {

    overflow: hidden;
  }

  #accordionSidebar,
  .sidebar-right {
    max-height: none;
    overflow-y: auto;
    margin-top: 50px;
    max-height: 100vh;

  }

  #accordionSidebar {
    width: 25%;
    max-width: 384px;
    padding-top: 35px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
    flex-grow: 0;
    overflow-y: auto;
    border-right: 1px solid #d1d3e2;
    padding-right: 1rem;
    max-height: 100vh;
  }

  #accordionSidebar .sidebar-heading {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .collapse-inner .collapse-item {
    text-align: center;
    /* Center text for mobile */
  }

  #accordionSidebar .nav-item {
    font-size: 12px;
    margin-bottom: 5px;
  }


  #accordionSidebar .nav-link i {
    font-size: 12px;
  }


  .nav-item .nav-link i.fas.fa-fw.fa-user.icon-with-padding {

    font-size: 12px;
  }

  .nav-item .nav-link span {
    font-size: 12px;
    padding: 0;
  }


  /* Welcome */

  .welcome-screen-header {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: min(50px, 3vw) 20px 0;
    margin-bottom: 20px;

  }

  .welcome-greeting-title {
    font-size: 25px;
    /* Adjust the size as needed for smartphones */
  }

  .welcome-greeting-line {
    font-size: 1rem;
    /* Adjust the size as needed for smartphones */
  }


  .welcome-greeting-title:nth-child(1) .username {
    font-size: 25px;

  }



  /* New Project */

  .dashboard-item.greetings .greeting-line {
    font-size: 15px;

  }

  .dashboard-item.greetings .greeting-line:nth-child(1),
  .dashboard-item.greetings .greeting-line:nth-child(1) .username {
    font-size: 20px;

  }




  .new-project-header {
    padding-top: 0;
    margin-bottom: 25px;
    padding-left: 10px;
  }


  .new-project-header h2 {



    font-size: 30px;
  }

  .dashboard-item.greetings .greetings-text {
    flex: 0 0 80%;

  }

  .snap-container .new-project-snap {
    width: 50%;
    height: auto;
    min-width: 50px;
    min-height: 50px;
  }

  .dashboard-item.project-name span,
  .dashboard-item.new-project-budget span,
  .dashboard-item.new-project-finish-line span,
  .dashboard-item.new-project-uploads span,
  .dashboard-item.new-project-description span,
  .dashboard-item.notes span {
    font-size: 20px;
  }

  .dashboard-item.new-project-description{
    min-height: 256px;
  }

  

  .dashboard-item.project-name span {

    padding: 0px 0px;


  }

  .address-input-container {

    padding: 2.5px;
  }
  
  
  .address-input {
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
  }
  
  .address-button{
  
    margin-bottom: 2px;
    
    
  
  }
  



  /* All Projects */


  .project-thumbnail {
    width: 100%;
    height: auto;

  }

  .project-title {
    font-size: 16px;

    margin-top: 5px;
  }

  .all-projects-container {
    margin-top: 10px;
  }

  .project-container {

    padding: 5px;
    margin-bottom: 10px;

  }



  /* Single Project */


  .active-project-details {
    padding-top: 30px;
    width: 100%;
  }

  .project-header {
    padding: 10px;
    margin-bottom: 0;

  }


  .project-header h2 {

    max-width: 125px;
    padding-bottom: 0px;
    font-size: 35px;
  }

  .dashboard-item.budget span,
  .dashboard-item.uploads span,
  .dashboard-item.downloads span,
  .dashboard-item.finish-line span,
  .dashboard-item.view-gallery span,
  .dashboard-item.view-invoices span,
  .dashboard-item.floorplan span,
  .dashboard-item.links span {
    font-size: 20px;
  }

 

  .project-team-title {

    font-size: 20px;

  }


  .team-member-thumbnail {
    width: 50px;
    /* Smaller size for thumbnails */
    height: 50px;
    /* Maintain aspect ratio */
  }

  .team-member-info {
    font-size: 20px;
    /* Smaller font size */
  }

  .team-member-role {
    font-size: 12px;
  }

  .dashboard-item.finish-line span {
    font-size: 20px;
  }

  .dashboard-item.dashboard-item.finish-line span:last-child {
    font-size: 20px;

  }

  .final-submit-button {

    font-size: 20px;
    margin: 5px;
    
  }
 .final-btn-container{
  
  margin-bottom: 5px;
 }



  #Project_Initiation text,
  #Concept_Approval_ text,
  #First_Draft_Completion text,
  #Review_and_Feedback text,
  #Revisions_and_Modifications text,
  #Final_Review_and_Approval text,
  #Project_Closure_and_Delivery text {

    font-size: 40px;
  }




}