.ticker-container {
    line-height: 0.6;
    font-size: 10vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;  /* Adjust for desired spacing between lines */
}

.ticker {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 100%;
    background-color: transparent;
    padding: 10px;
}

.ticker-text {
    display: inline-block; 
    white-space: nowrap; 
    vertical-align: middle; /* To align the text in the middle vertically if needed */
    margin-bottom: 10px; 
    will-change: transform; 
    user-select: none; 
    pointer-events: none; 
}


.ticker-text-1, .ticker-text-2, .ticker-text-3 {
    display: inline-block;
    white-space: nowrap;
}