.svg-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}
.workpage-heading{
    padding: 10px;
}
.works {
    padding-top: 50px;
    margin: 20px;
  }
  
  .po_items_ho {
    column-width: 20em;
    column-gap: .5rem;
    row-gap: 1rem;
  }
   
 
 /* Styles for rendering layout */

.rendering-layout {
  background-color: var(--bg-color);
  /* padding: min(20px, 2vw) 0; */
  margin-bottom: min(100px, 10vw);
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.rendering-heading {
    
    
  padding-top: 20px;

}


.rendering-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 175px;
  
}

.rendering-header {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: min(25px, 1.5vw) 5px 0;

}

.rendering-header h2 {
  padding: min(50px, 3vw) 0px 0;
  line-height: 0.8;
  font-size: min(8rem, 14vw);
  white-space: nowrap;
  

}



.arrow-down.works-arrow {
  color: white;
  margin-left: auto;
  padding: min(50px, 3vw) 20px 0;
  font-size: min(10rem, 16vw);


}


.rendering-subheader {
  padding: min(25px, 1.5vw) 10px 0;

  color: #8D8787;
  
}
.rendering-subheader h3 {
  font-weight: 900;
  padding: 20px 0;
  font-size: min(4rem, 6vw);
}


.rendering-row{
  margin: 10px 0;
 

}
.rendering-row-video {
  
  padding: min(10px, .3vw);

  display: flex;
  justify-content: space-between; /* Equal spacing and centering */
  align-items: center; /* Vertical centering */
  
}

.rendering-row-img {
  
  padding: min(5px, .25vw) 0 ;
  
  display: flex;
  margin: 0 auto; /* Equal spacing and centering */
  align-items: stretch;/* Vertical centering */
  gap: min(7px, .3vw);

  
}

.rendering-row-svg{
  margin: 3px 0;
 

}

.img-container {

  flex-grow: 1;
  object-fit: cover;
  padding: 0 2px;
  
}

.animation-container {
  flex: 1;
  object-fit: contain;
  padding-right: 20px; /* Add padding to the right of the video container */
  
}




.right-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  padding-left: 20px; 
}

.right-content .asvg {
  min-height: 100px;
  height: 100%; 
  
  width: 100%; 
  margin: 20px;
}

.rendering-ticker-section{
  padding: 25px 0;
}


.aop-video-container {
  border-radius: 40px;
  overflow: hidden;
  position: relative;
  width: 100%; /* Adjust as necessary */
  flex: 1; /* Flex grow to fill available space */
  padding-top: 50%; /* For 16:9 aspect ratio */
  margin-right: min(10px, 1vw); /* Adjust this value for the desired spacing */
}

.bb-video-container {
  
  overflow: hidden;
  position: relative;
  width: 100%; /* Adjust as necessary */
  flex: 1; /* Flex grow to fill available space */
  margin-right: min(10px, 1vw); /* Adjust this value for the desired spacing */
  
}

.bb-video-container video{

  border-radius: 40px;
}

.aop-youtube-container {
 margin-top: 5px;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 40px;
}

.aop-youtube-container::before {
  
  content: '';
  display: block;
  padding-top: 56.25%; /* Aspect ratio 16:9; adjust as needed */
}

.aop-youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.aop-video-container:last-child {
  margin-right: 0; /* No margin on the right side of the last container */
}

.aop-video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aop-video-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adjust if needed */
}



.grid-container {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "top full"
    "bottom full";
  gap: min(10px, 1vw);
  margin: 0;
}


.second-grid {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  grid-template-rows: auto;
  grid-template-areas: "full top";
  gap: min(10px, 1vw);
}


.grid-container-gca {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "top full"
    "bottom full";
  gap: min(10px, 1vw);
  margin-top: 0;
}

.second-grid-gca {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  
  grid-template-areas: "full top";
  
}
.top-row-gca {
  grid-area: full;
  margin-bottom: min(10px, 1vw);
}



.top-row {
  grid-area: top;
  margin-bottom: min(10px, 1vw);
}

.bottom-row {
  grid-area: bottom;
  
}

.full-height-column {
  grid-area: full;
  margin-bottom: min(10px, 1vw);
}


.second-grid .top-row {
  grid-area: top;
}

.second-grid .full-height-column {
  grid-area: full;
  grid-row: 1 / span 2;
}


.masonry {
  display: grid;
  grid-template-columns: 40% 60%  1fr;
  gap: min(10px, 1vw);
  
}

.masonry-column img {
  max-width: 100%;
  width: 100%;
  margin-bottom: min(10px, 1vw); /* Adds a bottom margin to each image */
}

.masonry-column {
  grid-column-start: 1;
  grid-column-end: 2;
}

.masonry-column:nth-child(even) {
  grid-column-start: 2;
  grid-column-end: 2;
}



  @media screen and (min-width: 1600px) {
    .po_items_ho {
      column-width: 30em;
    }
  }
  
  @media screen and (min-width: 2500px) {
    .po_items_ho {
      column-width: 50em;
    }
  }
  
  .po_item {
    border-radius: 40px;
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
    transition: 0.3s ease;
    font-size: 0;
    
    overflow: hidden;
   
  }
  
  .po_item img {
    border-radius: 40px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .img-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .po_item .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--overlay-color);
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: 0.3s ease-in-out;
    opacity: 0;
    font-size: 20px;
  }
  
  .po_item:hover .content {
    opacity: 1;
  }
  
  .po_item .content a {
    background: var(--bg-color);
    padding: 4px 8px;
    text-align: center;
    font-size: 1rem;
  }
  
  /* Media Queries for .works-title */
  h1.works-title {
    font-size: 100px; /* Default size */
  }
  
  @media only screen and (max-width: 1199px) {
    h1.works-title {
      font-size: 80px;
    }
  }
  
  @media only screen and (max-width: 991px) {
    h1.works-title {
      font-size: 60px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    h1.works-title {
      font-size: 40px;
    }
    .aop-video-container {
      border-radius: 20px;
    }
  }
  
  @media only screen and (max-width: 575px) {
    h1.works-title {
      
      font-size: 30px;
    }
    .rendering-row-img {
  
      padding: min(6px, .6vw) 0 ;
      gap: min(10px, .3vw);
      
    
    }

    .rendering-row-video {
  
      padding: min(6px, .6vw);
    }

    .rendering-row{
      margin: 5px 0;
     
    
    }
    .works {
      padding-top: 50px;
      margin: 0px;
    }
    .bb-video-container video{

      border-radius: 20px;
    }
    

  }
  