.blog-header, .work-header, .info-header {
  display: flex;
  justify-content: space-between; /* pushes children to extreme ends */
  align-items: center;
  padding: 30px 20px; /* This gives space on the sides. Adjust if needed. */
  max-width: 1920px; /* Set max-width */
  margin: 0 auto; /* Center the container */
}


.work-header h2 {
  font-size: 10rem; 
  padding-bottom: 30px;
}

.info-header h2 {
  font-size: 10rem; 
  padding-bottom: 30px;
}



.video-container {

  height: 60vh; 
  overflow: hidden; /* To hide any part of the video that exceeds the container's boundaries */
  position: relative;
}

.video-container video {
  
  max-width: 1920px;  
  height: auto; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the video */
}


.portfolio-section {
  margin: 20px auto; /* Center the section horizontally */
  width: 1920px;
  max-width: 100%; /* Ensure it doesn't overflow on smaller screens */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.single-card-row {
  justify-content: center;
}

.single-card.tcs .title,
.single-card.nocco .title {
    color: black;
}

.single-card.tcs .subtitle,
.single-card.nocco .subtitle {
    color: grey;
}

.single-card.tcs .description,
.single-card.nocco .description {
    color: black;
    
    border: 2px solid black;
    border-radius: 50px;
    margin: 0;
   
    
}




.arrow-down{
  font-size: 12rem;
}



@media (max-width: 767px) {


  .work-header h2 {
    font-size: 6rem;
    padding-bottom: 0px;
}

.arrow-down {
  font-size: 4rem;
}

  .portfolio-row {
    flex-direction: column;
    align-items: center;
  }

  .single-card {
    width: calc(100vw - 20px);
    /* Reduce width by twice the margin */
    height: calc(100vw - 20px);
    /* Keeping 1:1 aspect ratio */
    margin: 0 20px;
    /* Left and right margins */
    overflow: hidden;
  }

  .single-card .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gca .card-image {
    object-position: 75% center;
  }


  .elf .card-image {

    object-position: 20% center;
    /* 10% from the left edge */
  }

  .single-card.tcs img,
    .single-card.nocco img {
        display: none !important;
    }
    .single-card.tcs {
      background-image: url('https://mylgcontent.s3.us-west-1.amazonaws.com/images/chain+copy-01.png');
      background-size: cover;
      background-position: center;
    }
    
    .single-card.nocco {
      background-image: url('https://mylgcontent.s3.us-west-1.amazonaws.com/images/Nocco+vertical-01.png');
      background-size: cover;
      background-position: center;
    }
    

.video-container video {
    height: 100%;
    width: auto;
    left: 50%;
    top: 0;
    transform: translateX(-50%) ; /* Center the video horizontally */
  }

}

  

.single-ticker-section{
  margin-bottom: 30px;
  
}

