
.header-wrapper {
  display: flex;
  align-items: center; 
  
}

.nav-bar {
  padding: 10px;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  border: unset;
  background: transparent;
  font-weight: 900;
  z-index: 1000;
}

.nav-bar:hover {
  color: var(--text-color-2);
}

.site__navigation {
  z-index: 9999;
}

.svg__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.active-link {
  color: red !important; /* Highlight active link in red */
}


.site-logo:hover {
  color: red;
}

.small-links {
  position: fixed;         
  left: 50%;                
  transform: translate(-50%, 0%);  
  z-index: 1001;             
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  border-radius: 50px;
  background-color: transparent;
  border: 2px solid white;
  overflow: hidden; 
  display: flex;
  align-items: center;
  gap: 1vw; 
}

.small-link {
  font-size: 20px; /* Adjust size as needed */
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.2s;
}

.small-link:hover {
  color: red; /* Any desired hover color */
}

.site-logo {
  margin-right: 20px; /* Add space between the logo and the links */
  font-weight: bold; 
  font-size: 24px;  
  color: var(--text-color);
  font-size: 30px;
  text-decoration: none;
  transition: color 0.2s;
  
  border: none;
  
}
.logo {
  color: var(--text-color);
  font-size: 30px;
  text-decoration: none;
  transition: color 0.2s;
  
 
  
}
.site__header {
  top: 0px;
  width: 100%;
  background-color: black;
  transition: top 0.5s;
}
.hide {
  top: -100px; /* Adjust as needed */
}

.toggle-button {
  background-color: black;
  border: none; /* Remove any default borders */
  color: white; /* This sets the color of the SVG icon */
  
}

.toggle-button:hover {
  background-color: #333; /* Slightly lighter black for hover, adjust as needed */
}

.toggle-button svg {
  fill: white;
  color: white;
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
}

.span-open {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}

.site__navigation {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  pointer-events: none;
}

.site__navigation.opened {
  pointer-events: all;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.site__navigation .main__menu_ul li {
  list-style: none;
  margin: 10px 0;
}

.site__navigation .main__menu_ul li a {
  color: var(--text-color);
  display: block;
  font-size: 2.5rem;
  text-decoration: none;
}

.bg__menu {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1); 
}

.menu__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden auto;
  z-index: 5;
}

@media (min-width: 992px) {
  .menu__container {
    margin-left: 33.3333%;
  }
  .the_menu {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}

.the_menu .menu_item > a {
  opacity: 0;
  transform: translateY(-20px);
  color: var(--text-color-2);
  line-height: 1;
  font-size: 2rem;
  display: inline-block;
  position: relative;
  transition: color 250ms cubic-bezier(0, 0, 0.58, 1) 0s;
  padding: 4px 0px;
  text-decoration: none;
  z-index: 5;
}

.the_menu .menu_item > a:hover {
  color: var(--text-color-3);
}



/* Mobile (portrait and smaller) */
@media (max-width: 575.9px) {

  .small-links {
    display: none;
  }

.site-logo {
  font-size: 18px; /* slightly smaller for mobile */
}

}

/* Mobile (Landscape) */
@media (min-width: 576px) and (max-width: 767px) {
  /* styles for larger mobile screens in landscape */

 

.site-logo {
  font-size: 24px; /* slightly smaller for mobile */
}

.small-link {
  font-size: 18px; /* Adjust size as needed for mobile */
}

}


/* Tablets (Landscape) */
@media (min-width: 768px) and (max-width: 1200px) {
  /* styles for tablets in landscape */

  .site-logo {
    font-size: 28px;
  }

  .small-link {
    font-size: 18px;
  }
  .the_menu .menu_item > a {
    font-size: 4.8vw;
  }


.menu_footer {
  bottom: 0;
  font-family: Raleway;
  font-size: 14px;
  background: var(--primary-color);
}

.menu_footer a {
  color: var(--text-color-2);
  margin-right: 10px;
  text-decoration: none;
}
}


