.menu{
  padding-left: 0;
  padding-top: 10vh;
    padding-bottom: 10vh;
}


.menu-container {
  margin-left: 33.3333%;
}
.header-wrapper {
  display: flex;
  align-items: center; 
  
}

.nav-bar {
  height: 100%;
  padding: 10px 50px;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  border: unset;
  background: transparent;
  font-weight: 900;
  z-index: 1000;
}

.nav-bar:hover {
  color: var(--text-color-2);
}

.nav-bar-menu {
  z-index: 1;
}

.svg-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  
}

.svg-wrapper svg {
  width: 100%;
  height: 105vh; /* Viewport height */
  
  top: 0;
  left: 0;
}


.active-link {
  color: #FA3356 !important; /* Highlight active link in red */
}


.site-logo:hover {
  color: #FA3356;
}

.nav-links {
  position: fixed;         
  left: 50%;                
  transform: translate(-50%, 0%);  
  z-index: 1;             
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  border-radius: 50px;
  background-color: transparent;
  border: 2px solid white;
  overflow: hidden; 
  display: flex;
  align-items: center;
  gap: 1vw; 
}

.nav-link {
  font-size: 20px; /* Adjust size as needed */
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #FA3356; /* Any desired hover color */
}

.site-logo {
  margin-right: 20px; /* Add space between the logo and the links */
  font-weight: bold; 
  font-size: 24px;  
  color: var(--text-color);
  font-size: 30px;
  text-decoration: none;
  transition: color 0.2s;
  
  border: none;
  
}
.logo {
  color: var(--text-color);
  font-size: 30px;
  text-decoration: none;
  transition: color 0.2s;
  
 
  
}
.header {
  top: 0px;
  width: 100%;
  background-color: var(--bg-color);
  transition: top 0.5s;
}
.hide {
  top: -100px; /* Adjust as needed */
}

.toggle-button {
  color: #fff;
  z-index: 1000;
  position: absolute; /* or fixed, depending on your needs */
  top: 10px;
  right: 10px;
  background: none; /* remove default button background */
  border: none; /* remove default button border */
}

.toggle-button:hover {
  background-color: transparent; /* Slightly lighter black for hover, adjust as needed */
}

.toggle-button svg {
  
  fill: white;
  color: white;
  margin-top: 10px;
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
}

.span-open {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}

.nav-bar-menu {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  pointer-events: none;
}

.nav-bar-menu.opened {
  pointer-events: all;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}


.menu-bg {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color); 
}

.menu-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden auto;
  z-index: 5;
}

@media (min-width: 992px) {


}

.menu-item .my-3 {
  
  letter-spacing: -0.05em;
 
}


.menu .menu-item > a {
  opacity: 0;
  transform: translateY(-20px);
  color: var(--text-color-2);
  line-height: 0.7;
  font-size: clamp(4rem, 8vw, 8rem);
  
display: inline-block;
  position: relative;
  transition: color 250ms cubic-bezier(0, 0, 0.58, 1) 0s;
  padding: 4px 0px;
  text-decoration: none;
  z-index: 5;
}

.menu .menu-item > a:hover {
  color: var(--text-color-3);
}



/* Mobile (portrait and smaller) */
@media (max-width: 575.9px) {

  .menu .menu-item > a {
    line-height: 0.5;
  }

  .menu-container {
    padding-top: 25px;
    margin-left: 5%;
  }
  .nav-links {
    display: none;
  }
  .nav-bar {
    height: 100%;
    padding: 10px 20px;
  
  }

.site-logo {
  
  font-size: 28px; /* slightly smaller for mobile */
}


}

/* Mobile (Landscape) */
@media (min-width: 576px) and (max-width: 767px) {
  /* styles for larger mobile screens in landscape */

 

.site-logo {
  font-size: 28px; /* slightly smaller for mobile */
}

.nav-links {
  display: none;
}


}


/* Tablets (Landscape) */
@media (min-width: 768px) and (max-width: 1200px) {
  /* styles for tablets in landscape */

  .site-logo {
    font-size: 28px;
  }

  .nav-links {
    display: none;
  }
  
 

.menu-footer {
  bottom: 0;
  font-family: Raleway;
  font-size: 14px;
  background: var(--primary-color);
}

.menu-footer a {
  color: var(--text-color-2);
  margin-right: 10px;
  text-decoration: none;
}
}


