.portfolio-card {
    font-size: 16px;
    position: relative;
    margin: 10px;
    transition: transform 0.2s;
    box-sizing: border-box;
    overflow: hidden; 
    border-radius: 8px; 
    display: flex; /* add flex display */
    flex-direction: column; /* stack children vertically */
    justify-content: space-between; /* space out the top and bottom content */
    
}




.portfolio-card img {
    width: 100%;
    border-radius: 8px;
    height: auto;
    object-fit: cover;
    z-index: -1; 
    position: relative;
    transition: transform 0.2s;
}

.portfolio-card:hover img {
    transform: scale(1.03);
}
.top-left, .bottom-left {
    position: absolute; /* make them float over the image */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 1; /* ensure they're above the image */
}

.top-left {
    top: 0.5em;
    left: 1em;
}

.bottom-left {
    position: absolute;
    bottom: 1em; 
    left: 2.2em;
    z-index: 1;  
}

.portfolio-description {
    padding: 10px;
    border: 2px solid white;
    border-radius: 50px;
    
}

    

.title {
    font-size: 4vw;
    margin: 0;
    line-height: 0.9;
}

.subtitle {
    font-size: 2vw;
    opacity: 0.5;
}

.description {
    font-size: 1.5vw;
    margin: 0; 
}

/* Dark overlay for image */
.portfolio-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* semi-transparent black */
    z-index: -1; /* place below content but above the image */
}



/* For screens bigger than 767px */
@media (min-width: 767px) {
    .title {
        font-size: max(4vw, 26px); /* Will not shrink below 36px even if 4vw becomes smaller than that */
    }

    .subtitle {
        font-size: max(2vw, 20px); /* Will not shrink below 24px even if 2vw becomes smaller than that */
    }

    .description {
        font-size: max(1.5vw, 14px); /* Will not shrink below 18px even if 1.5vw becomes smaller than that */
    }
}




/* Max width for fonts scaling with vw */
@media (min-width: 1921px) {
    .title {
        font-size: 76.8px; /* 4% of 1920px */
    }

    .subtitle {
        font-size: 38.4px; /* 2% of 1920px */
    }

    .description {
        font-size: 28.8px; /* 1.5% of 1920px */
    }
}





/* Mobile (Landscape) */
@media (min-width: 576px) and (max-width: 767px) {
    .portfolio-description {
        margin-bottom: 10px;
    }
    .portfolio-description {
        margin-bottom: 10px;
    }
    .title {
        font-size: 6vw;
    }
    
    .subtitle {
        font-size: 4vw;
        opacity: 0.5;
    }
    
    .description {
        font-size: 3vw;
        margin: 0; 
    }
    .bottom-left {
      
        left: 2em;
        bottom: 1em; 
        
    }
    

}


@media (max-width: 575.9px) {
    
    .portfolio-description {
        
    }
    .title {
        font-size: 6vw;
    }
    
    .subtitle {
        font-size: 4vw;
        opacity: 0.5;
    }
    
    .description {
        font-size: 3vw;
        margin: 0; 
    }
    .bottom-left {
      
        left: 2em;
        bottom: 1em; 
        
    }
    


}
