.info-section p {
    font-size: 1.5rem;
    /* Adjust this value based on your preference */
}

.club-title {
    font-size: 2.5rem;
    padding-bottom: 20px;
}

.info-section {
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 1920px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.info-column {
    flex: 1;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.info-column .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center the inner content vertically */
    align-items: center;
    /* Center the inner content horizontally */
    width: 100%;
    /* Take full width of parent column */
}




.info-header h2 {
    font-size: 10rem;
    padding-bottom: 30px;
}

.newsletter {
    margin-top: 20px;
}

.newsletter input {
    font-size: 0.9rem;
    padding: 10px;
    margin-right: 10px;
    flex: 1;
}


.touch-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 3em;
    color: #fff;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid white;
    white-space: nowrap;
}

.touch-btn-subscribe {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid white;
    white-space: nowrap;
}


.info-introtext {

    padding-bottom: 10px;
}
.info-row {
    margin-bottom: 10px;
}



.first-column .content-container {
    max-width: 400px;
    margin: 0 auto;
}


.third-column .content-container {
    margin-left: 50px;
    display: flex;
    flex-direction: column;


}

.info-address {

    position: relative;
    display: flex;
    align-items: center;
    /* To vertically center align SVG and text */
}

.address-svg {
    width: 300px;
    /* Adjust this for desired width */
    height: 300px;
    /* Adjust this for desired height */
    margin-left: -100px;
    /* Adjust for space between SVG and text */
}

.address-text {
    margin: 0;
}


.phone-number {
    font-size: 2rem;  /* Adjust this value as needed */
}


@media (max-width: 1601px) {

    .info-section{
        padding-bottom: 0px
    }


    .club-title {
        font-size: 1.5rem;
        padding-bottom: 0px;
    }
    .phone-number {
        font-size: 1.2rem;  /* Adjust this value as needed */
    }

    .club-description {
        margin: 5px;
    }

    .touch-btn-subscribe {
        padding: 5px 10px;
        margin: 10px;
    }

    .newsletter {
        margin-top: 0px;
    }

    .newsletter input {
        font-size: 0.8rem;
        padding: 0 0 0 5px;
        margin: 10px 5px 10px 0;
        flex: 1;
    }

    .first-column .content-container {
        max-width: 250px;
        margin: 0 auto;
    }

    .second-column {
        max-width: 250px;
        margin: 0 auto;
    }

    .info-section p {
        font-size: 1rem;
    }

    .info-header h2 {
        font-size: 8rem;
    }

    .touch-btn {
        font-size: 1.5em;
    }

    .address-svg {
        width: 210px;
        height: 240px;
        margin-left: -50px;
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {

  
    
    .info-section {
        flex-direction: column;
        padding: 10px;
    }

    .info-column {
        padding: 10px 0;
        margin-bottom: 20px;
    }

    .info-section p {
        font-size: 1.1rem;
    }

    .club-title {
        font-size: 2.5rem;
    }
    .club-description {
        margin: 20px;
    }
    .newsletter input {
        font-size: 0.8rem;
        padding: 10px;
        margin-bottom: 15px;
    }
    .touch-btn-subscribe {
        padding: 10px 20px;
    }

    .info-header h2 {
        font-size: 6rem;
    }
    .info-header {}

    .touch-btn {
        font-size: 2em;
    }

   

    .consent-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .consent-container input[type="checkbox"] {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .first-column .content-container,
    .third-column .content-container {
        max-width: 100%;
    }

    .address-svg {
        width: 200px;
        height: 200px;
    }
}