.works-card {
    font-size: min(16px, 2vw);
    position: relative;
    padding: min(25px, 2vw);
    margin: min(10px, 1vw) auto;  /* Centers the card horizontally */
    transition: transform 0.2s;
    box-sizing: border-box;
    overflow: hidden; 
    border-radius: min(25px, 2vw);
    display: flex;
    background-color: white;
    
    
    justify-content: space-between; 
   
    max-width: 1920px; 
    height: min(750px, 50vw);
    width: 100%; 
    
}

.works-left-column {
    padding: min(10px, 1vw);
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* Push content to the top and bottom */
    gap: min(10px, 1vw);
}


.works-left-column {
    gap: 10px;
}

.works-right-column {
    padding: min(10px, 1vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    height: 100%;  /* Ensure the column takes the full height of its parent */
}


.tag {
    padding-bottom: min(10px, 1vw);
    font-size: min(2rem, 3vw);
    font-weight: bold;
    color: #888;
    user-select: none;
}

.works-title {
    line-height: 0.8;
    color: black;
    margin: 0;
    font-size: min(5rem, 8vw);
    padding-bottom: min(10px, 1vw);
    user-select: none;
}

.works-subtitle {
    font-size: min(2rem, 3.5vw);
    opacity: 0.2;
    margin: 0;
    flex: 1; 
    user-select: none;
}





.works-right-column img {
    max-width: 100%;   /* Allow the image to scale up to the full width of its container */
    max-height: 100%;  /* Allow the image to scale up to the full height of its container */
    border-radius: min(8px, 1vw);
    object-fit: contain;  /* Ensures the image maintains its aspect ratio */
    transition: transform 0.2s;
}

.works-card:hover img {
    transform: scale(1.03);
}

.works-card .scramble-button {

    padding: min(20px, 3vw) min(40px, 4vw);
    font-size: min(2rem, 3vw);
    color: black;
    border-radius: min(50px, 5vw);
    background-color: transparent;
    border: 2px solid black;
    white-space: nowrap;
  }



  @media (max-width: 768px) {
    .works-card .scramble-button {
    border: 1px solid black;

    }
  }