.works-card {
    font-size: 16px;
    position: relative;
    padding: 25px;
    margin: 10px auto;  /* Centers the card horizontally */
    transition: transform 0.2s;
    box-sizing: border-box;
    overflow: hidden; 
    border-radius: 25px; 
    display: flex;
    background-color: white;
    
    
     justify-content: space-between; 
   
    max-width: 1920px; 
    height: 900px;
    width: 100%; 
}

.works-left-column {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* Push content to the top and bottom */
    gap: 10px;
}


.works-left-column {
    gap: 10px;
}

.works-right-column {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    height: 100%;  /* Ensure the column takes the full height of its parent */
}


.tag {
    font-size: 2rem;
    font-weight: bold;
    color: #888;
}

.works-title {
    line-height: 0.9;
    color: black;
    font-size: 5rem;
    margin: 0;
}

.works-subtitle {
    font-size: 2rem;
    opacity: 0.2;
    margin: 0;
    flex: 1; /* This will make the subtitle take any available space and push the button down */
}


.view-project-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.view-project-btn:hover {
    background-color: #0056b3;
}
.works-right-column img {
    max-width: 100%;   /* Allow the image to scale up to the full width of its container */
    max-height: 100%;  /* Allow the image to scale up to the full height of its container */
    border-radius: 8px;
    object-fit: contain;  /* Ensures the image maintains its aspect ratio */
    transition: transform 0.2s;
}

.works-card:hover img {
    /* transform: scale(1.03); */
}

.works-card .scramble-button {

    padding: 10px 20px;
    font-size: 3rem;
    color: black;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid black;
    white-space: nowrap;
  }